$primary-color: #415A6E;    
$background-color: #ECE9E4;
$header-text: #005453;
$light-color: #E3E0D9;
$dark-color: #DAD7D0;

$font-family: 'Roboto', sans-serif;
$font-color: #737373;    

@font-face {
    font-family: accentFont;
    src: url(BooterFiveZero.ttf);
}

body {
    font-family: $font-family;
    color: $font-color;
    background-color: $primary-color;
}

div.character-sheet {
    text-align: left;
    background-color: $background-color;
    display: inline-block;
    -webkit-box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.3);
    box-shadow: 7px 7px 25px 0px rgba(0,0,0,0.3);
}

.lower-sheet {
    margin-top: 32px;
}

div#root {
    text-align: center;
}

div#portrait-container {
    font-family: accentFont;
    position: relative;
}

div#combat {
}

div#skills {
    margin-top: 4px;
}

div#equipment {
    overflow-y: hidden;
    margin-top: 4px;
}

div.section-header {
    margin-top: 8px;
}

div.background-header {
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 8px;
}

div.background-row {
    margin-top: 4px;
}

div#background {
    font-size: 10pt;
}

img.portrait {
    width: 100%;
}

div#portrait-text {
    width: 100%;
    position: absolute;
    padding: 8px 0px 8px 0px;
    bottom: 4px;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

div#portrait-text > #character-name {
    font-size: 20pt;
}

div#portrait-text p {
    margin: 0px 0px 0px 8px;;
    font-size: 12pt;
}

.header {
    font-family: accentFont;
    font-size: 20pt;
    color: $header-text;
}

.header .hr {
    border-top: 1px solid #556772;
}

table {
    width: 100%;
    border-spacing: 4px;
    border-collapse: collapse;
    table-layout: fixed;
}

table td, table th {
  border: 4px solid #ECE9E4;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

tr {
    font-size: 10pt;
    padding: 4px 0px 4px 0px;
}

tr.spell-row,
tr.gear-row {
    cursor: pointer;
}

td {
    padding: 4px;
}

td.table-header {
    font-family: accentFont;
    font-size: 12pt;
}

td.narrow {
    width: 12%;
    text-align: center;
}

td.narrow-fat {
    width: 20%;
    text-align: center;
}

td.centered {
    text-align: center;
}

td.white-block {
    width: 12%;
    background-color: white;
    text-align: center;
}

.light-block {
    background-color: $light-color;
    font-family: accentFont;
    font-size: 14pt;
}

.dark-block {
    background-color: $dark-color;
    font-family: accentFont;
    font-size: 14pt;
}

div.modal-dialog {
    padding: 16px;
    background-color: $background-color;
}

p.item-description {
    font-size: 10pt;
}

p.highlight {
    font-style: italic;
}

.description-header {
    font-weight: 900;
}

div.status-info {
    text-align: center;
}

div.status-hp {
    font-family: accentFont;
    text-align: center;
    margin-top: 8px;
    font-size: 32pt;
}

/* Smartphone */
@media (max-device-width : 599px) {
    body {
        margin: 0 auto;
        padding: 0px;
    }

    .desktop-status {
        display: none;
    }

    div.character-sheet {
        width: 100%;
        padding: 16px 0px 16px 0px;
    }

    .narrow-module {
        width: auto;
    }

    .full-module {
        margin-left: 2%;
        width: 96%;
    }

    div#left-container {
        margin-left: 2%;
        width: 96%;
    }

    div#right-container {
        margin-left: 2%;
        width: 96%;
    }

    div#ability-scores {
        margin-top: 4px;
    }

    .modal-parent {
        width: 85% !important;
    }
}

/* Tablet */
@media (min-device-width : 600px) {
    body {
        margin: 0 auto;
        padding: 0px;
    }

    .mobile-status {
        display: none;
    }

    div.character-sheet {
        width: 100%;
        padding: 16px 0px 16px 0px;
    }

    div#left-container {
        float: left;
        margin-left: 2%;
        margin-right: 1%;
        width: 47%;
    }

    div#right-container {
        float: right;
        margin-left: 1%;
        margin-right: 2%;
        width: 47%;
    }

    .narrow-module {
        width: auto;
    }

    .full-module {
        margin-left: 2%;
        width: 96%;
    }
}

/* desktop */
@media (min-device-width : 1024px) {
    body {
        margin: 20px;
    }

    .mobile-status {
        display: none;
    }

    div.character-sheet {
        width: 75%;
        padding: 16px 0px 16px 0px;
    }

    .narrow-module {
        width: auto;
    }

    .full-module {
        max-width: 100%;
    }

    div#left-container {
        float: left;
        width: 47%;
    }

    div#right-container {
        float: right;
        width: 47%;
    }
}
